<%- include("partials/head") %>
<%- include("partials/header") %>
<%- include("partials/main") %>
<h2><%= title %></h2>
<div class="container-productos">
    <!-- <ul id="productos-lista">
            <% products.forEach(prod => { %>
                <li class="li-listados productos-listados">
                    <img src="<%= prod.img %>" alt="Imagen <%= prod.nombre %>" class="img-listados">
                    <p>Id: <%= prod.id %> / Nombre: <%= prod.nombre %>/ <strong>Precio: <%= prod.precio %></strong></p>
                </li>
            <!--
            <li class="li-listados productos-listados">
                <img src="" alt="" class="img-listados">
                <p>Id: / Nombre: / <strong>Precio: </strong></p>
            </li>
            -->
            <% }) %> -->
        </ul>
</div>
<script src="/js/getAll.js"></script>
<%- include("partials/carrito") %>
<%- include("partials/footer") %>